image: docker:latest

variables:
  BASE_REPOSITORY: 'igwn/base'

stages:
  - docker
  - rebuild

docker:build:
  stage: docker
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build --no-cache --pull -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker logout $CI_REGISTRY
    - |
        # push to docker hub
        if [[ $CI_PROJECT_NAMESPACE == 'docker' ]]; then
          docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
          docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME $BASE_REPOSITORY:$CI_COMMIT_REF_NAME
          docker push $BASE_REPOSITORY:$CI_COMMIT_REF_NAME
          docker logout
        fi
    - |
        # push to quay.io
        if [[ $CI_PROJECT_NAMESPACE == 'docker' ]]; then
          docker login -u $QUAY_USER -p $QUAY_TOKEN quay.io
          docker tag  $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME quay.io/$BASE_REPOSITORY:$CI_COMMIT_REF_NAME
          docker push quay.io/$BASE_REPOSITORY:$CI_COMMIT_REF_NAME
          docker logout quay.io
        fi

#
# trigger rebuilds of downstream containers
#

# lalsuite-dev

rebuild:lalsuite-dev:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/lalsuite-dev
    branch: buster

# ssh container

rebuild:ssh:
  stage: rebuild
  only:
    - branchesdocker/base
  trigger:
    project: docker/ssh
    branch: buster

# software container

rebuild:software:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/software
    branch: buster
