image: docker:latest

variables:
  REPOSITORY: 'cgca/base'

stages:
  - docker
  - rebuild

docker:build:
  stage: docker
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build --pull -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - |
        # push to docker hub
        if [[ $CI_PROJECT_NAMESPACE == 'docker' ]]; then
          docker logout $CI_REGISTRY
          docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
          docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME $REPOSITORY:$CI_COMMIT_REF_NAME
          docker push $REPOSITORY:$CI_COMMIT_REF_NAME
          docker logout
        fi

#
# trigger rebuilds of downstream containers
#

# lalsuite-dev

rebuild:lalsuite-dev:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/lalsuite-dev
    branch: el7

# packaging

rebuild:el7-production:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/packaging
    branch: el7-production

rebuild:el7-production-staging:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/packaging
    branch: el7-production-staging

rebuild:el7-testing:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/packaging
    branch: el7-testing

rebuild:el7-staging:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/packaging
    branch: el7-staging

# ligo-ssh

rebuild:ligo-ssh:
  stage: rebuild
  only:
    - branches@docker/base
  trigger:
    project: docker/ligo-ssh
    branch: el7
